node_modules
#CUsersCUsersE5262012CORESAppDataRoamingnpm-cache
#C:\Users\E5 2620 12 CORES\Desktop\projetos\ROCKETSEAT\ignite\reactjs\desafio02-onmyown\CUsersCUsersE5262012CORESAppDataRoamingnpm-cache
#CUsersCUsersE5262012CORESAppDataRoamingnpm-cache
CUsersCUsersE5262012CORESAppDataRoamingnpm-cache
C:\Users\C:\Users\E5262012CORES\AppData\Roaming\npm-cache\
"C:\\Users\\C:\\Users\\E5262012CORES\\AppData\\Roaming\\npm-cache/"
